extends clientLayout

append styling
  link(rel='stylesheet', href='/css/client/Pretty-User-List.css')

append content
  .container.article-clean(style='padding-right: 0px;padding-left: 0px;width: 2500px;')
    .row(style='margin-right: -15px;width: 1050px;')
      .col
        div(style='margin:46px;')
          if(lawyerProfiles)
            each profile in lawyerProfiles
              form(action='requestAppointment', method='GET', name='reqapt')
                .row.row-striped
                  .col-2.text-center
                    .user-container
                      a.user-avatar(href='#')
                        img.rounded-circle.img-fluid(src='/images/person_1.jpg', alt='Profile of first name and last name', width='200', height='200')
                  .col-10
                    h3.text-uppercase
                      strong #{profile.firstName} #{profile.lastName}
                    ul.list-inline
                      li.list-inline-item
                        i.fa.fa-gavel(aria-hidden="true")
                        |  #{profile.legalSpecialty}
                      li.list-inline-item
                        i.fa.fa-map-marker(aria-hidden="true")
                        |  #{profile.city}
                      li.list-inline-item
                        i.fa.fa-globe(aria-hidden="true")
                        |  #{profile.country}
                    p
                      | Profile information: Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    input(type='hidden', name='reqid', value=profile.id)
                    button#reqApt.btn.btn-primary.btn-sm(type='submit', href='') Request Appointment

          else
            form(action='reqapt', method='GET', name='reqapt')
              .row.row-striped
                .col-2.text-center
                  .user-container
                    a.user-avatar(href='#')
                      img.rounded-circle.img-fluid(src='/images/person_1.jpg', alt='Profile of Mark Smith Peterson', width='250', height='250')
                .col-10
                  h3.text-uppercase
                    strong Lawyer Name
                  ul.list-inline
                    li.list-inline-item
                      i.fa.fa-gavel(aria-hidden="true")
                      |  Legal Specialty
                    li.list-inline-item
                      i.fa.fa-map-marker(aria-hidden="true")
                      |  City
                    li.list-inline-item
                      i.fa.fa-globe(aria-hidden="true")
                      |  Country
                  p
                    | Profile information: Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  button#reqApt.btn.btn-primary.btn-sm(type='submit', name='reqID', value='1', href='#') Request Appointment

