html
    block append styling
    style.
      div.hide-overflow {
        overflow: hidden;
        text-overflow: ellipsis; 
      }
      div.shadow-box{
        border-radius:         10px 10px 10px 10px;
        -moz-border-radius:    10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        -webkit-box-shadow: 10px 10px 16px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 16px -10px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 16px -10px rgba(0,0,0,0.75);
      }

    block head
        //- link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/popper.min.js')
        script(src='/javascripts/bootstrap.min.js')
        link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
        link(href='/stylesheets/font-awesome/css/all.css', rel='stylesheet')
        //- script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        //- script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")

                    
    block body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href="#") LawyerUp
            button.navbar-toggler(type="button", data-toggle="collapse", data-target="#lawyerNavbar", aria-controls="lawyerNavbar", aria-expanded="false")
                span.navbar-toggler-icon

            .collapse.navbar-collapse(id="lawyerNavbar")
                ul.navbar-nav.mr-auto
                    //- li.nav-item
                    //-     a.nav-link(href="#") Link 1
                    //- li.nav-item
                    //-     a.nav-link(href="#") Link 2
                    //- li.nav-item
                    //-     a.nav-link(href="#") Link 3
                ul.navbar-nav.float-right
                    form(role='form', method='POST', action='/logout')
                        input(type="hidden",id="message",name="message",value="You are now logged out.")
                        button.btn.btn-warning.btn-md(type='submit') Logout

        .container
            div.row.justify-content-md-center
                div.col
                    h1.display-4 Hello, #{firstName}
                    div.card.card-cascade(style="width: 24rem")
                        div.view.view-cascade.overlay.shadow-box
                            img.card-img-top(src="images/bg_lawyer-signup.jpg", alt="Card image cap")
                            a
                                div.mask.rgba-white-slight
                        div.card-body.card-body-cascade.shadow-box
                            h1.card-title.text-center Lawyer
                            div.hide-overflow.d-flex.justify-content-center
                                i.fas.fa-phone-square-alt(style="padding: 7px; text-align: center")
                                p.card-text #{phoneNumber}
                            div.hide-overflow.d-flex.justify-content-center
                                i.fas.fa-envelope-square(style=" padding: 7px; text-align: center")
                                p.card-text #{email}
                            div.d-flex.justify-content-center
                                a.btn.btn-warning(href="#", style="padding:7px") Edit Info
                div.col
                    p.display-4 Appointments
                    //- Appointment cards
                    div.list-group
                        //- List all appointments
                        each item in appointments
                            //-  appointment requests
                            if item.apptAccepted == null
                                a.list-group-item.list-group-item-action.flex-column.align-items-start.mb-1.shadow
                                    div.d-flex.w-100.justify-content-between
                                        h5.mb-1 #{item.firstName} #{item.lastName}
                                        label.badge.badge-warning 
                                            span.align-middle APPOINTMENT REQUEST
                                    div.hide-overflow.d-flex
                                        i.fas.fa-envelope-square.mr-1.mt-1
                                        p.mb-1 #{item.email}
                                    div.hide-overflow.d-flex
                                        i.fas.fa-phone-square-alt.mr-1.mt-1
                                        p.mb-1 #{item.phoneNumber}
                                    small.m-1 Select Appointment Date
                                    form.form-inline(role='form', method='POST', action='/acceptAppt', id="acceptAppt=" + item.id, name="acceptAppt=" + item.id)
                                        //- input(id='clientId', name='clientId', type='hidden', value=item.id)
                                        input(id='apptId', name='apptId', type='hidden', value=item.apptId)
                                        div.input-group.m-1(style='width:50%;')
                                            span.input-group-addon 
                                                i.fas.fa-calendar-alt.mt-2.mr-1
                                            input.form-control.input-sm(id="date", name="date", type='date', value= moment(moment().format('L')).format('YYYY-MM-DD'))
                                        div.input-group.m-1(style='width:40%;')
                                            span.input-group-addon 
                                                i.fas.fa-clock.mt-2.mr-1
                                            input.form-control(id="time", name="time", type='time', value= moment(moment().startOf('minute').toDate()).format('hh:mm:ss'))
                                        button.btn.btn-success.btn-sm.m-1(type='submit', name='submitAppt', value='accept') ACCEPT
                                        button.btn.btn-danger.btn-sm.m-1(type='submit', name='submitAppt', value='decline') DECLINE
                            //- appointment not ready
                            //- else if item.apptAccepted == 1 && item.apptReady == 0
                            //-     a.list-group-item.list-group-item-action.flex-column.align-items-start.mb-1.shadow
                            //-         div.d-flex.w-100.justify-content-between
                            //-             h5.mb-1 #{item.firstName} #{item.lastName}
                            //-             label.badge.badge-secondary 
                            //-                 span.align-middle UPCOMING APPOINTMENT
                            //-         div.hide-overflow.d-flex
                            //-             i.fas.fa-envelope-square.mr-1.mt-1
                            //-             p.mb-1 #{item.email}
                            //-         div.hide-overflow.d-flex
                            //-             i.fas.fa-phone-square-alt.mr-1.mt-1
                            //-             p.mb-1 #{item.phoneNumber}
                            //-         small.mb-1 Appointment Date
                            //-         div.hide-overflow.d-flex
                            //-             i.fas.fa-calendar-alt.mr-2.mt-1
                            //-             p.mb-1= moment(item.apptDate).format('lll')
                            //- appointment past
                            else if item.apptAccepted == 1 && item.apptReady == -1
                                a.list-group-item.list-group-item-action.flex-column.align-items-start.mb-1.shadow
                                    div.d-flex.w-100.justify-content-between
                                        h5.mb-1 #{item.firstName} #{item.lastName}
                                        label.badge.badge-dark 
                                            span.align-middle PAST APPOINTMENT 
                                    div.hide-overflow.d-flex
                                        i.fas.fa-envelope-square.mr-1.mt-1
                                        p.mb-1 #{item.email}
                                    div.hide-overflow.d-flex
                                        i.fas.fa-phone-square-alt.mr-1.mt-1
                                        p.mb-1 #{item.phoneNumber}
                                    small.mb-1 Appointment Date
                                    div.hide-overflow.d-flex
                                        i.fas.fa-calendar-alt.mr-2.mt-1
                                        p.mb-1= moment(item.apptDate).format('lll')
                            //- appointment READY
                            else if item.apptAccepted == 1 && item.apptReady == 1
                                a.list-group-item.list-group-item-action.flex-column.align-items-start.mb-1.shadow
                                    div.d-flex.w-100.justify-content-between
                                        h5.mb-1 #{item.firstName} #{item.lastName}
                                        label.badge.badge-primary 
                                            span.align-middle APPOINTMENT READY!
                                    div.hide-overflow.d-flex
                                        i.fas.fa-envelope-square.mr-1.mt-1
                                        p.mb-1 #{item.email}
                                    div.hide-overflow.d-flex
                                        i.fas.fa-phone-square-alt.mr-1.mt-1
                                        p.mb-1 #{item.phoneNumber}
                                    small.mb-1 Appointment Date
                                    div.hide-overflow.d-flex
                                        i.fas.fa-calendar-alt.mr-2.mt-1
                                        p.mb-1= moment(item.apptDate).format('lll')
                                    form.form-inline(role='form', method='POST', action='/launchVideo')
                                        input(id='apptId', name='apptId', type='hidden', value=item.apptId)
                                        button.btn.btn-primary.btn-sm.mb-2(type='submit') LAUNCH CHAT 
                            //- appointment declined
                            else if item.apptAccepted == 0
                                a.list-group-item.list-group-item-action.flex-column.align-items-start.mb-1.shadow
                                    div.d-flex.w-100.justify-content-between
                                        h5.mb-1 #{item.firstName} #{item.lastName}
                                        label.badge.badge-danger 
                                            span.align-middle DECLINED APPOINTMENT 
                                    div.hide-overflow.d-flex
                                        i.fas.fa-envelope-square.mr-1.mt-1
                                        p.mb-1 #{item.email}
                                    div.hide-overflow.d-flex
                                        i.fas.fa-phone-square-alt.mr-1.mt-1
                                        p.mb-1 #{item.phoneNumber}

  
                        //- Hard coded cards for testing
                        //- a.list-group-item.list-group-item-action.flex-column.align-items-start(href="#")
                        //-     div.d-flex.w-100.justify-content-between
                        //-         h5.mb-1 John Doughnut
                        //-         small.text-muted 7/2/19 4:30pm
                        //-     p.mb-1 Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                        //-     small.text-muted Donec id elit non mi porta.
                        //- a.list-group-item.list-group-item-action.flex-column.align-items-start.active(href="#")
                        //-     div.d-flex.w-100.justify-content-between
                        //-         h5.mb-1 John Doughnut
                        //-         small 7/2/19 4:30pm
                        //-     p.mb-1 Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.

                        //-     //- TESTING launch video chat
                        //-     //- input data should be handled by session/cookie. Just testing at this point.
                        //-     form.form-inline(role='form', method='POST', action='/launchVideo')
                        //-         //- input(type="hidden",id="userName",name="userName",value="#{firstName}")
                        //-         //- input(type="hidden",id="id",name="id",value="#{id}")
                        //-         button.btn.btn-success.btn-sm.mb-2(type='submit') MEETING READY! 

                    